{% extends 'base.html' %}

<!-- This is the page title -->
{% block page_title %}
    {{ pet['name'] }} - details
{% endblock %}

<!-- This is the page content -->
{% block content %}
    <table>
        <tr>
            <td><img height="350" src="{{ url_for('static', filename=pet['ID']|string+'.jpg') }}" alt="cat image"></td>
            <td>{{ pet['name'] }}</td>
            <td>{{ pet['age'] }}</td>
            <td>{{ pet['bio'] }}</td>
        </tr>
    </table>
    <form action="{{ url_for('details', pet_id=pet['ID']) }}" method="post">
        <input type="submit" value="Edit Pet">
    </form>
{% endblock %}
